#shape-container{
    width: 600px;
    height: 600px;
background-color: lightseagreen;
position:relative;
float:left;
}

#input-container{
    margin-top:50px;
    display:flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 15px;

}
#container{
    margin: 0 auto;
    display:block;
    width: 1200px;
    height: 600px;

}
.sidebar{
    margin-left: 10px
}

#left{
    line-height: 50px;
    width:30%;
    height:600px;
    display:inline-block;
    background-color: lightblue;
padding-left: 50px;
}
.circle{
    background-color: purple;
    position:absolute;
    border-radius: 50%;
    /* display:inline; */
}

.shape{
    position:absolute;
}

.rectangle{
    background-color:green;
    position:absolute;
}
.square{
    background-color: red;
    position:absolute;
}
h2{
    color: navy
}